body{
    margin: 0 auto;
}
.ContenedorPrincipal{
    width: 100vw;
    height: 45vw;
}
@font-face{
    src: url(fonts/MYRIADPRO-REGULAR.OTF);
    font-family: regular;
}
@font-face{
    src: url(fonts/MyriadPro-Light.otf);
    font-family: light;
}
.menu{
    width: 100vw;
    height: 4vw;
    display: flex;
    box-shadow: 0 0 0 0.1vw gray;
    align-items: center;
}
#ham{
    display: none;
}
.menuh{
    display: none;
    width: 5vw;
}
.marco{
    display: flex;
}
.conop{
    display: flex;
}
.icons{
    width: 1.2vw;
}
.opc{
    margin-left: 0.5vw;
    font-size: 1.2vw;
    font-family: regular;
}
#mas{
    margin-left: 9.7vw;
    display: flex;
    align-items: center;
}
#reload{
    margin-left: 6.8vw;
    display: flex;
    align-items: center;
}
#report{
    margin-left: 12.4vw;
    display: flex;
    align-items: center;
}
.kario{
    margin-left: 9vw;
    width: 2vw;
}
.config{
    margin-left: 10vw;
    width: 1vw;
    display: flex;
}
.noti{
    width: 1.2vw;
    margin-left: 1vw;
}
.profe{
    width: 2.8vw;
    margin-left: 1vw;
}
.quitlink{
    text-decoration: none;
    color: black;
}
.fondoNaranja{
    margin-top: 1vw;
    margin-left: 1vw;
    margin-right: 1vw;
    width: 98vw;
    height: 14vw;
    background-color: #FF6F2C;
    border-radius: 10PX;
    display: flex;
    justify-content: end;
}
.usuarioAdministrador{
    width: 13vw;
    height: 4.5vw;
    color: white;
    align-items: center;
    display: flex;
    font-size: 1.3vw;
    font-family: regular;
}
.mas{
    width: 1.5vw;
    height: 4.5vw;
    color: white;
    align-items: center;
    display: flex;
    font-size: 1.3vw;
    font-family: regular;
}
.contIMG1{
    margin-left: 3vw;
    margin-top: -4vw;
    width: 7vw;
    height: 7vw;
}
.imagen2{
    width: 7vw;
    height: 7vw;
}
.contIMG2{
    width: 3vw;
    height: 2vw;
    margin-top: -2vw;
    margin-left: 7.5vw;
}
.camara{
    width: 2vw;
    height: 2vw;
    background-color: white;
    border-radius: 10VW;
}
.nombreBio{
    display: flex;
}
.nombre{
    font-size: 1.5vw;
    width: 13vw;
    height: 3vw;
    text-align: center;
    margin-top: 1vw;
    font-family: light;
}
.biografia{
    font-size: 1.2vw;
    width: 87vw;
    height: 3vw;
    display: flex;
    justify-content: end;
    margin-right: 1vw;
}
.textoBio{
    margin-top: -2vw;
    width: 43vw;
    height: 18.5vw;
    border: 1px solid #FF6F2C;
    color: #FF6F2C;
    padding: 2vw;
    font-family: light;
    font-size: 1.5vw;
}
.datos{
    margin-top: 5vw;
    width: 47vw;
    display: flex;
    justify-content: space-between;
    margin-left: 2.5vw;
}
.kario2{
    display: flex;
    width: 20vw;
    margin-left: -1vw;
}
.imagen3{
    width: 3vw;
    height: 2vw;
}

.texto1{
    margin-left: 0.5vw;
    width:20vw;
    height: 2vw;
    border: 1px solid #FF6F2C;
    font-size:1vw;
    display: flex;
    align-items: end;
    font-family: light;
}
.location{
    margin-left: 5vw;
    display: flex;

}
.imagen4{
    width: 2vw;
    height: 2vw;
}
.texto2{
    width: 20vw;
    height: 2vw;
    border: 1px solid #FF6F2C;
    font-size:1vw;
    margin-left: 0.5vw;
    display: flex;
    align-items: end;
    font-family: light;
}
.datos2{
    width: 47.6vw;
    margin-top: 2.5vw;
    display: flex;
    justify-content: space-between;
    margin-left: 1.9vw;
}
.user{
    width: 25vw;
    display: flex;
}
.imagen5{
    width: 3.5vw;
    height: 2vw;
    margin-left: -0.9vw;
}
.texto3{
    width: 17vw;
    height: 2vw;
    border: 1px solid #FF6F2C;
    font-size:1vw;
    display: flex;
    align-items: end;
    font-family: light;
}
.telefono{
    margin-left: 3vw;
    display: flex;
}
.imagen6{
    width: 2vw;
    height: 2vw;
}
.texto4{
    width: 20vw;
    height: 2vw;
    border: 1px solid #FF6F2C;
    font-size:1vw;
    margin-left: 0.5vw;
    display: flex;
    align-items: end;
    font-family: light;
}
.imagenD{
    width: 2.1vw;
    height: 2vw;
    margin-right: 0.5vw;
}
.texto5{
    width: 17vw;
    height: 2vw;
    border: 1px solid #FF6F2C;
    font-size:1vw;
    display: flex;
    align-items: end;
    font-family: light;
}
.correo{
    width: 20vw;
    display: flex;
}
.pastel{
    width: 25vw;
    display: flex;
    margin-left: 5.2vw;
}
.imagen7{
    width: 2vw;
    height: 2vw;
}
.texto6{
    width: 20vw;
    height: 2vw;
    border: 1px solid #FF6F2C;
    font-size:1vw;
    margin-left: 0.5vw;
    display: flex;
    align-items: end;
    font-family: light;
}
.contBoton{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: end;
}
.boton{
    width: 11vw;
    height: 3.5vw;
    background-color:  #FF6F2C;
    border-radius: 10px;
    margin-right: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5vw;
    color: white;
    margin-top: 1vw;
    font-family: regular;
    border: none;
    cursor: pointer;
}
@media only screen and (max-width: 440px){
    .menu{
        height: 10vw;
        overflow: hidden;
        display: block;
    }
    .menuh{
        display: block;
        margin-top: 3vw;
        margin-left: 3vw;
    }
    #ham:checked + .menu{
        height: 55vw;
    }
    .icons{
        width: 4vw;
    }
    .opc{
        font-size: 4vw;
    }
    .config{
        width: 4vw;
    }
    .noti{
        width: 4vw;
        margin-left: 3vw;
    }
    .profe{
        width: 6vw;
        margin-left: 3vw;
    }
    #perfil{
        position: relative;
        top: -53vw;
        left: 65vw;
    }
    #mas{
        margin-left: 5vw;
        margin-top: 3vw;
    }
    #reload{
        margin-left: 5vw;
        margin-top: 3vw;
    }
    #report{
        margin-left: 5vw;
        margin-top: 3vw;
    }
    .kario{
        display: none;
    }
    .marco{
        display: block;
        border: #FF6F2C 0.4vw solid;
        margin-top: 5vw;
        margin-left: 10vw;
        width: 40vw;
        height: 42vw;
    }
    .ContenedorPrincipal{
        height: 100vw;
    }
    .fondoNaranja{
        height: 20vw;
    }
    .usuarioAdministrador{
        margin-top: 1.5vw;
        width: 25vw;
        font-size: 2.5vw;
    }
    .mas{
        margin-top: 1.5vw;
        font-size: 2.5vw;
        width: 4vw;
    }
    .contIMG1{
        margin-left: 4vw;
        margin-top: -6vw;
        width: 10vw;
        height: 10vw;
    }
    .imagen2{
        width: 12vw;
        height: 12vw;
    }
    .contIMG2{
        width: 4vw;
        height: 4vw;
        margin-left: 12vw;
    }
    .camara{
        width: 4vw;
        height: 4vw;
    }
    .nombre{
        font-size: 2.5vw;
        width: 22vw;
        height: 5vw;
        margin-top: 1vw;
    }
    .datos{
        margin-top: 8vw;
        display: block;
        width: 80vw;
    }
    .kario2{
        margin-left: 3vw;
        width: 80vw;
    }
    .imagen3{
        width: 6vw;
        height: 6vw;
    }
    .texto1{
        width: 40vw;
        height: 6vw;
        font-size: 3vw;
    }
    .location{
        margin-top: 3vw;
        margin-left: 3vw;
        width: 80VW;
    }
    .imagen4{
        width: 6vw;
        height: 6vw;
    }
    .texto2{
        width: 40vw;
        height: 6vw;
        font-size:3vw;
    }
    .datos2{
        width: 80vw;
        display: block;
    }
    .user{
        margin-left: 2.5vw;
        width: 80vw;
    }
    .imagen5{
        width: 8.5vw;
        height: 5.5vw;
    }
    .texto3{
        height: 6vw;
        font-size: 3vw;
        width: 40vw;
    }
    .telefono{
        margin-top: 3vw;
        width: 80vw;
        margin-left: 5vw
    }
    .imagen6{
        margin-left: -1.5vw;
        width: 6vw;
        height: 6vw;
    }
    .texto4{
        height: 6vw;
        font-size: 3vw;
        width: 40vw;
    }
    .correo{
        width: 80vw;
    }
    .imagenD{
        margin-left: 3.5vw;
        width: 5.5vw;
        height: 5.5vw;
        padding-right: 1.7vw;
    }
    .texto5{
        margin-left: -1.2vw;
        height: 6vw;
        font-size: 3vw;
        width: 40vw;
    }
    .pastel{
        margin-top: 3vw;
        width: 80vw;
    }
    .imagen7{
        margin-left: -1.5vw;
        width: 6vw;
        height: 6vw;
    }
    .texto6{
        height: 6vw;
        font-size: 3vw;
        width: 40vw;
    }
    .biografia{
        font-size: 1.2vw;
        width: 87vw;
        height: 3vw;
    }
    .textoBio{
        position: absolute;
        margin-top: 75vw;
        left: 12vw;
        width: 70vw;
        height: 15vw;
        font-size: 3vw;
    }
    .contBoton{
        justify-content: center;
        margin-top: 28vw;
    }
    .boton{
        width: 25vw;
        height: 6vw;
        font-size: 3vw;
    }
}