body{
    margin: 0 auto;
    background-color: black;
}
.principal{
    width: 100vw;
    height: 56.25vw;
    background-image: url(img/pexels-pixabay-159400.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.kario{
    width: 10vw;
}
@media only screen and (max-width: 440px){
    .principal{
        height: 200vw;
    }
    .kario{
        width: 30vw;
    }
}